## .NET Core
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb
*.cache
*.config
*.xml
*.csproj.user
*.dbmdl
*.jfm
*.bak
*.swp
*.vscode
*.log
*.sum
*.swm
*.results
*.trx
*.gz
*.7z
*.rar
*.zip
*.sqlite
*.sqlite3
*.bak
*.tmp
*.bacpac
*.log
*.dacpac
*.mdf
*.ldf
bin/
obj/
.vs/
.vscode/
Properties/
*.db
appsettings.json